.navbar {
  display: flex;
  align-items: center;
  background: #222;
  color: #fff;
  padding: 10px 20px;
  justify-content: space-between;
}

.navbar-logo {
  font-weight: bold;
  font-size: 1.2rem;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  cursor: pointer;
}

.navbar-search {
  padding: 5px 10px;
  border-radius: 4px;
  width: 500px;
}
