.homepage-info-box {
  max-width: 1000px;
  margin: 40px auto 10px auto;
  padding: 10px 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
  text-align: center;
  font-size: 1.08rem;
  color: #222;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

::-webkit-scrollbar {
  display: none; /* thin scrollbar */
}

/* For Firefox */
* {
  scrollbar-width: none; /* thin scrollbar */
}
